header {
  padding-left: 3rem;
  flex-grow: 0;
}

ul {
  max-width: 400px;
}

body {
  display: flex;
  flex-direction: column;
}
.container {
  padding-left: 3rem;
  height: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  details {
    /* max-width: 400px; */
    width: clamp(300px, 100%, 400px);
  }
}
main {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}

ul.list-projects li {
  list-style-type: none;
}
