main {
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: start;
  height: 100vh;
}
.element {
  /* display: inline-block; */
  margin: 10px;
  border: 1px solid red;
  background-color: blue;
  color: white;
  height: 100px;
  width: 100px;
}
