body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  position: relative;
  height: 500px;
  width: 500px;
  color: white;
  background-color: black;
}

.block {
  position: absolute;
  inset: 50px;
  background-color: blue;
  color: white;
}

p {
  text-align: center;
}
