body {
  height: 100vh;
  background-image: url("map-of-westeros.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

img {
  position: absolute;
  width: 10px;
  height: 10px;
}

#Stark1,
#Stark2 {
  top: 310px;
  left: 190px;
}

#Stark1 {
  animation: Stark 30s forwards;
}

#Stark2 {
  animation: Bolton 30s forwards;
}

#Lannister1,
#Lannister2,
#Lannister3 {
  top: 675px;
  left: 70px;
}

#Lannister2 {
  animation: tywin 30s forwards;
}

#Lannister1 {
  animation: Jeyme 30s forwards;
}

#Lannister3 {
  animation: dead 30s forwards;
}

#Joffrey {
  top: 690px;
  left: 270px;
}

#Tyrell {
  top: 805px;
  left: 125px;
  animation: Tyrell 30s forwards;
  animation-delay: 10s;
}

#Baratheon {
  top: 770px;
  left: 330px;
}

#Stannis {
  top: 638px;
  left: 357.5px;
  animation: Stannis 30s forwards;
  animation-delay: 20s;
}

#Greyjoy {
  top: 570px;
  left: 70px;
}

#Tally {
  top: 597.5px;
  left: 170px;
}

#Martell {
  top: 910px;
  left: 360px;
}

#Arryn {
  top: 540px;
  left: 280px;
}

@keyframes Stannis {
  10% {
    top: 700px;
    left: 375px;
  }

  20% {
    top: 775px;
    left: 305px;
  }

  40% {
    top: 675px;
    left: 250px;
  }

  50% {
    top: 625px;
    left: 350px;
  }

  53% {
    top: 625px;
    left: 400px;
  }

  80% {
    top: 200px;
    left: 400px;
  }

  85% {
    top: 150px;
    left: 300px;
  }

  90% {
    top: 150px;
    left: 200px;
  }

  100% {
    top: 300px;
    left: 180px;
  }
}

@keyframes Jeyme {
  75% {
    top: 600px;
    left: 150px;
    opacity: 0.9;
  }

  100% {
    top: 600px;
    left: 150px;
    opacity: 0;
  }
}

@keyframes Tyrell {
  100% {
    top: 675px;
    left: 250px;
  }
}

@keyframes Stark {
  50% {
    top: 485px;
    left: 190px;
  }

  60% {
    top: 500px;
    left: 165px;
  }

  80% {
    top: 600px;
    left: 165px;
  }

  100% {
    top: 665px;
    left: 60px;
  }
}

@keyframes tywin {
  10% {
    top: 665px;
    left: 160px;
  }

  20% {
    top: 610px;
    left: 230px;
  }

  30% {
    top: 610px;
    left: 230px;
  }

  33% {
    top: 600px;
    left: 230px;
  }

  40% {
    top: 550px;
    left: 200px;
  }

  47% {
    top: 600px;
    left: 230px;
  }

  50% {
    top: 610px;
    left: 230px;
  }

  60% {
    top: 610px;
    left: 230px;
  }

  75% {
    top: 665px;
    left: 160px;
  }

  100% {
    top: 680px;
    left: 260px;
  }
}

@keyframes Bolton {
  50% {
    top: 485px;
    left: 190px;
  }

  60% {
    top: 550px;
    left: 200px;
  }

  80% {
    top: 610px;
    left: 230px;
  }

  100% {
    top: 610px;
    left: 250px;
  }
}

@keyframes dead {
  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
