/* @import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"); */

body {
  height: 100vh;
  background-image: url("map-of-westeros.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

img {
  position: absolute;
  width: 10px;
  height: 10px;
}

#Stark1,
#Stark2 {
  top: 310px;
  left: 190px;
}

#Stark1 {
  animation: Stark 30s forwards;
}

#Stark2 {
  animation: Bolton 30s forwards;
}

#Lannister1,
#Lannister2,
#Lannister3 {
  top: 665px;
  left: 70px;
}

#Lannister2 {
  animation: Tywin 30s forwards;
}

#Lannister1 {
  animation: Jeyme 30s forwards;
}

#Lannister3 {
  animation: dead 30s forwards;
}

#Joffrey {
  top: 690px;
  left: 270px;
}

#Tyrell {
  top: 805px;
  left: 125px;
  animation: Tyrell 30s forwards;
}

#Baratheon {
  animation: Baratheon 30s forwards;
  top: 770px;
  left: 330px;
}

#Stannis {
  top: 638px;
  left: 357.5px;
  animation: Stannis 30s forwards;
}

#Victarion {
  animation: Victarion 30s forwards;
}

#Theon {
  animation: Theon 30s forwards;
}

#Asha {
  animation: Asha 30s forwards;
}

#Victarion,
#Theon,
#Asha,
#Greyjoy {
  top: 570px;
  left: 70px;
}

#Tally {
  top: 597.5px;
  left: 170px;
}

#Martell {
  top: 910px;
  left: 360px;
}

#Arryn {
  top: 540px;
  left: 280px;
}

@keyframes Bolton {
  30% {
    top: 510px;
    left: 190px;
  }
  40% {
    top: 540px;
    left: 205px;
  }
  50% {
    top: 590px;
    left: 235px;
  }
  55% {
    top: 617px;
    left: 230px;
  }
  77% {
    top: 590px;
    left: 235px;
  }
  86% {
    top: 510px;
    left: 175px;
  }
  100% {
    top: 510px;
    left: 175px;
  }
}

@keyframes Stark {
  30% {
    top: 510px;
    left: 190px;
  }
  40% {
    top: 590px;
    left: 160px;
  }
  51% {
    top: 665px;
    left: 70px;
  }
  65% {
    top: 665px;
    left: 70px;
  }
  75% {
    top: 590px;
    left: 160px;
  }
  85% {
    top: 510px;
    left: 175px;
    opacity: 1;
  }
  86% {
    top: 510px;
    left: 175px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dead {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Stannis {
  30% {
    top: 638px;
    left: 357.5px;
  }
  40% {
    top: 700px;
    left: 375px;
  }
  50% {
    top: 770px;
    left: 340px;
  }
  60% {
    top: 690px;
    left: 260px;
  }
  70% {
    top: 638px;
    left: 357.5px;
  }
  100% {
    top: 638px;
    left: 357.5px;
  }
}
@keyframes Jeyme {
  0% {
    top: 665px;
    left: 70px;
  }
  10% {
    top: 630px;
    left: 120px;
  }
  20% {
    top: 596px;
    left: 160px;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    top: 596px;
    left: 160px;
  }
}
@keyframes Tywin {
  10% {
    top: 630px;
    left: 120px;
  }
  20% {
    top: 630px;
    left: 175px;
  }
  30% {
    top: 600px;
    left: 235px;
  }
  40% {
    top: 550px;
    left: 210px;
  }
  50% {
    top: 600px;
    left: 235px;
  }
  51% {
    top: 610px;
    left: 235px;
  }
  60% {
    top: 630px;
    left: 175px;
  }
  70% {
    top: 680px;
    left: 260px;
  }
  100% {
    top: 680px;
    left: 260px;
  }
}
@keyframes Theon {
  40% {
    top: 570px;
    left: 70px;
  }
  50% {
    top: 550px;
    left: 85px;
  }
  60% {
    top: 525px;
    left: 20px;
  }
  65% {
    top: 325px;
    left: 20px;
  }
  70% {
    opacity: 1;
    top: 310px;
    left: 190px;
  }
  75% {
    opacity: 0;
    top: 310px;
    left: 190px;
  }
  100% {
    opacity: 0;

    top: 310px;
    left: 190px;
  }
}
@keyframes Asha {
  40% {
    top: 570px;
    left: 70px;
  }
  50% {
    top: 550px;
    left: 85px;
  }
  60% {
    top: 525px;
    left: 20px;
  }
  65% {
    top: 200px;
    left: 20px;
  }
  70% {
    top: 265px;
    left: 120px;
  }
  100% {
    top: 265px;
    left: 120px;
  }
}
@keyframes Victarion {
  40% {
    top: 570px;
    left: 70px;
  }
  50% {
    top: 550px;
    left: 85px;
  }
  60% {
    top: 525px;
    left: 20px;
  }
  65% {
    top: 415px;
    left: 20px;
  }
  70% {
    top: 415px;
    left: 200px;
  }
  100% {
    top: 415px;
    left: 200px;
  }
}
@keyframes Baratheon {
  50% {
    top: 770px;
    left: 330px;
  }
  60% {
    opacity: 1;
    top: 690px;
    left: 250px;
  }
  70% {
    top: 690px;
    left: 250px;
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 690px;
    left: 250px;
  }
}
@keyframes Tyrell {
  60% {
    top: 750px;
    left: 150px;
  }
  50% {
    top: 735px;
    left: 200px;
  }
  60% {
    top: 735px;
    left: 200px;
  }
  65% {
    top: 690px;
    left: 240px;
  }
  70% {
    top: 690px;
    left: 250px;
  }
  100% {
    top: 690px;
    left: 250px;
  }
}
