<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>The template Element</h1>

        <p>
            Click the button below to display the hidden content from the
            template element.
        </p>

        <button onclick="showContent()">Add hidden content</button>

        <template>
            <h2>Flower</h2>
        </template>

        <script src="index.js"></script>
    </body>
</html>
