@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");

@import url("./style/main.css");
@import url("./style/reset.css");

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.element {
  margin: 10px;
  border: 1px solid red;
  background-color: blue;
  color: white;
  height: 100px;
  width: 100px;
}
