main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.element {
  margin: 10px;
  border: 1px solid red;
  background-color: blue;
  color: white;
  height: 100px;
  width: 100px;
}
