main {
  display: flex;
  flex-wrap: wrap;
}
.element {
  border: 1px solid red;
  background-color: blue;
  color: white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
}
