doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Kropp Fitness
    link(rel="stylesheet" href="style.scss")
  body
    header(class="header")
        a(class="header-logo" href="/")
            img(src="images/logo.png" class="header-logo-image")
        nav(class="header-menu")
            ul(class="header-menu-list")
                li(class="header-menu-item")
                    a(href="/" class="header-menu-link is-current") Home
                li(class="header-menu-item")
                    a(href="/" class="header-menu-link") Pages
                li(class="header-menu-item")
                    a(href="/" class="header-menu-link") Portfolio
                li(class="header-menu-item")
                    a(href="/" class="header-menu-link") Blog
                li(class="header-menu-item")
                    a(href="/" class="header-menu-link") Shop
        div(class="header-actions")
            button(class="header-book-button button") Book Now
            button(class="header-burger-button" title="open menu")
                span(class="header-burger-button-line")
                span(class="header-burger-button-line")
                span(class="header-burger-button-line")
    main(class="content")
        h1(class="visible-hidden") Cropp Fitness Club
        section(class="banner")
            h2(class="visible-hidden") Upcoming events
            div(class="banner-body")
                div(class="banner-info") New Event coming up /
                    time(datetime="06-7") june 7 -
                    time(datetime="06-13") 13
                h3(class="banner-title") Crossfit
            div(class="banner-pagination")
                ul(class="banner-pagination-list")
                    li(class="banner-pagination-item")
                        button(class="banner-pagination-button")
                    li(class="banner-pagination-item")
                        button(class="banner-pagination-button")
                    li(class="banner-pagination-item")
                        button(class="banner-pagination-button is-current")
