doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Kropp Fitness
    link(rel="stylesheet" href="style.scss")
  body
    header.header
        a.header-logo(href="/")
            img(src="images/logo.png" class="header-logo-image")
        nav.header-menu
            ul.header-menu-list
                li.header-menu-item
                    a.header-menu-link.is-current(href="/") Home
                li.header-menu-item
                    a.header-menu-link(href="/") Pages
                li.header-menu-item
                    a.header-menu-link(href="/") Portfolio
                li.header-menu-item
                    a.header-menu-link(href="/") Blog
                li.header-menu-item
                    a.header-menu-link(href="/") Shop
        div.header-actions
            button.header-book-button.button Book Now
            button.header-burger-button(title="open menu")
                span.header-burger-button-line
                span.header-burger-button-line
                span.header-burger-button-line
    main.content
        h1.visible-hidden Cropp Fitness Club
        section.banner
            h2.visible-hidden Upcoming events
            div.banner-body
                div.banner-info New Event coming up /
                    time(datetime="06-7") june 7 -
                    time(datetime="06-13") 13
                h3.banner-title Crossfit
            div.banner-pagination
                ul.banner-pagination-list
                    li.banner-pagination-item
                        button.banner-pagination-button
                    li.banner-pagination-item
                        button.banner-pagination-button
                    li.banner-pagination-item
                        button.banner-pagination-button.is-current
        section.motivation
            h2.visible-hidden Motivation
            ul.motivation-list
                li.motivation-item
                    .motivation-card.container
                        .motivation-card-body
                            h3.motivation-card-title.backdrop-title(data-title="Strong") Be You, Just Stronger Power in You
                            .motivation-class-description
                                p Unum solum justo ex ius. Pr cu Probo laboramus eius insolens euripidis te eos tota.
                        img.motivation-card-image(src="images/motivationFirst.jpg" alt="text")
                li.motivation-item
                    .motivation-card.container
                        .motivation-card-body
                            h3.motivation-card-title.backdrop-title(data-title="Strong") Be You, Just Stronger Power in You
                            .motivation-class-description
                                p Unum solum justo ex ius. Pr cu Probo laboramus eius insolens euripidis te eos tota.
                        img.motivation-card-image(src="images/motivationSecond.jpg" alt="text")
