@font-face {
    font-family: "Yantramanav";
    src: url("fonts/Yantramanav-Bold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

$Dark-Alternate: #131619;
$Dark: #000000;
$Light: #ffffff;
$Border: 1px solid $Light;
$BorderRadius: 30px;
$Grey: #404040;
$LightGrey: #c4c4c4;
$InputHeight: 54px;
$CotainerWidth: 1300px;
$CotainerPaddingX: 15px;
$Transition: 0.2s;
$FontFamilyBase: "Heebo", sans-serif;
$FontFamilyAccent: "Yantramanav", sans-serif;
$HeaderHeight: 90px;

body {
    background-color: $Dark;
    color: $LightGrey;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 300;
}

a,
button,
textarea,
input,
svg * {
    transition-duration: $Transition;
}

a {
    color: $Light;
}
a:hover {
    background-color: $LightGrey;
}

p {
    margin-block: 0;
}

p:not(:last-child):not([class]) {
    margin-bottom: 24px;
}

.container {
    margin-inline: auto;
    padding-inline: $CotainerPaddingX;
}

ul,
li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $Light;
    font-weight: 700;
    text-transform: uppercase;
}

.title-medium {
    font-size: clamp(20px, 2.08vw, 40px);
    line-height: 1.3;
}

.title-big {
    font-size: clamp(24px, 3.12vw, 60px);
}

.button {
    display: inline-flex;
    align-items: center;
    height: 38px;
    background-color: $Light;
    border: none;
    border-radius: $BorderRadius;
    padding-inline: 26px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 2;
    white-space: wrap;
    text-decoration: none;
    &:hover {
        background-color: $LightGrey;
    }
}

.button.transparent {
    position: relative;
    height: $InputHeight;
    padding-left: 31px;
    border: $Border;
    padding-right: 80px;
    background-color: transparent;
    color: $Light;
    &::after {
        position: absolute;
        right: 0;
        content: "";
        height: 100%;
        aspect-ratio: 1;
        background: ("icons/arrow-top-right.svg") center/70% no-repeat;
        border-radius: 50%;
        border: $Border;
    }
    &:hover {
        color: $Dark;
        background-color: $LightGrey;
    }
}

.input {
    height: $InputHeight;
    padding-inline: 25px;
    color: $Light;
    background-color: transparent;
    border-radius: $BorderRadius;
    border: 1px solid $LightGrey;
    width: 100%;
    &:hover {
        border-color: $Light;
    }
    &::placeholder {
        color: $LightGrey;
    }
    &:focus {
        color: $Dark;
        background-color: $LightGrey;
        outline: none;
    }
}

.header {
    background-color: $Dark-Alternate;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    min-height: $HeaderHeight;
    padding-inline: 32px;
    align-items: center;
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.header-menu-link {
    display: inline-flex;
    height: $HeaderHeight;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
    column-gap: 7px;
    &.is-current::after {
        border-radius: 50%;
        content: "";
        width: 5px;
        height: 5px;
        background-color: currentColor;
    }
}

.header-actions {
    display: flex;
    column-gap: 40px;
}

.header-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    width: 40px;
    height: 40px;
    border: $Border;
    color: $Light;
    border-radius: $BorderRadius;
    &:hover {
        color: $Grey;
        border-color: currentColor;
    }
}

.header-button-line {
    width: 6px;
    height: 1px;
    border-color: currentColor;
    box-shadow: 16px 0px 0px currentColor;
}

.visible-hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overlay: hidden;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: calc(100vh - $HeaderHeight);
    padding: 36px 70px;
    color: $Light;
    background-color: $Dark-Alternate;
}

.banner-body {
    text-transform: uppercase;
}

.banner-info {
    dislay: flex;
    align-items: end;
    font-weight: 700;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
    &::before {
        content: "";
        width: clamp(60px, 10.1vw, 194px);
        aspect-ratio: 1;
        /* background: url("./icons/"); */
    }
}
.banner-title {
    font-size: min(18.75vw, 360px);
    line-height: 1;
}

.banner-pagination-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 7px;
    border: none;
}

.banner-pagination-list {
    display: flex;
    justify-content: center;
    column-gap: 14px;
}
.banner-pagination-item {
    display: flex;
}

.banner-pagination-button::after {
    border-radius: 50%;
    content: "";
    border: $Border;
    width: 10px;
    aspect-ratio: 1;
    transition-duration: $Transition;
}

.banner-pagination-button.is-current::after {
    background-color: $Light;
}

.banner-pagination-button:not(.is-current):hover::after {
    border-color: $LightGrey;
}
.motivation-item:nth-child(even) {
    background-color: $Dark-Alternate;
}
.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}

.motivation-card {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-card-image {
    margin-block: -60px;
}

.motivation-card-body {
}

.backdrop-title {
    position: relative;
    z-index: 2;
    &::after {
        position: absolute;
        right: calc(100% + 8px);
        content: "";
        dislay: block;
        width: 26px;
        aspect-ratio: 1;
        background: url("icons/plus.svg") center/contain no-repeat;
    }
}

.backdrop-title.centered::after {
    top: -0.25em;
    left: 50%;
    translate: -50% 0;
}

.backdrop-title::after {
    color: transparent;
    font-size: 2.8em;
    font-family: $FontFamilyAccent;
    content: attr(data-title);
    z-index: -1px;
    top: -0.45em;
    left: -0.6em;
    -webkit-text-stroke: 1px $LightGrey;
    text-stroke: 1px $LightGrey;
}

.motivation-card-description {
    max-width: 400px;
}
.motivation-card-description:not(:last-child) {
    margin-bottm: 37px;
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.training-types {
    position: relative;
    padding-top: 70px;
    padding-bottm: 120px;
    background-color: $Dark;
}
.training-types-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.training-types-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    background: url("icons/transparent-wrrow-bottom-left.svg") 100% 0/80px;
    background-repeat: no-repeat;
}

.training-types-item-title {
    font-size: 16px;
}

.join-us {
    background-color: $Dark-Alternate;
}
.join-us-video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
    background: url("images/join-us-bg.jpg") center/cover no-repeat;
}
.join-us-video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    aspect-ratio: 1;
    text-transform: uppercase;
    font-size: 14px;
    column-gap: 4px;
    font-weight: 700;
    color: $LightGrey;
    border-radius: 50%;
    background-color: transparent;
    border: $Border;
    &:after {
        content: "";
        width: 26px;
        aspect-ratio: 1;
        background: url("icons/arrow-top-right.svg") center/contain no-repeat;
        transition-duration: $Transition;
    }
    &:hover {
        color: $Dark;
        background-color: $LightGrey;
    }
    &:hover::after {
        filter: invert(1);
    }
}
.join-us-form-body {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.join-us-body {
    padding-bottom: 150px;
}

.join-us-title {
    position: relative;
    font-size: clamp(64px, 9.37vw, 180px);
    line-height: 1;
    text-align: center;
    margin-top: -0.4em;
    &::after {
        content: "";
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        margin-left: 0.14em;
        scale: 1 -1;
    }
    &:not(:last-child) {
        margin-bottom: 130px;
    }
}

.join-us-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
}

.join-us-form-subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 1.65;
    text-transform: uppercase;
    color: $Light;
}
.join-us-form-input {
    max-width: 400px;
}

.join-us-video {
    width: 100%;
    max-width: 960px;
    height: auto;
}

.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.location-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
    text-align: center;
}

.location-title:not(:last-child) {
    margin-bottom: 14px;
}

.location-description {
    max-width: 490px;
}
.location-description:not(:last-child) {
    margin-bottom: 37px;
}

.location-map-image {
    height: auto;
}
@media (max-width: 1919px) {
    .motivation-card-image {
        margin-block: -20px;
    }
}

@media (max-width: 1280px) {
    .training-types-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        row-gap: 15px;
        padding-top: 20px;
    }
    .header-menu-link {
        height: 50px;
    }
    .header-menu {
        order: 1;
        flex-basis: 100%;
    }
    .header,
    .banner {
        padding-inline: 15px;
    }
    .banner {
        row-gap: 10px;
    }
    .motivation-card {
        padding-block: 50px;
    }
    .motivation-card-image {
        max-width: 30%;
        height: auto;
        margin-block: 0;
    }
    .join-us-body {
        padding-bottom: 80px;
    }
    .join-us-title:not(:last-child) {
        padding-bottom: 80px;
    }
    .location {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    .button {
        padding-inline: 22px;
    }
    .header {
        padding-top: 10px;
    }
    .header-menu-link {
        height: 32px;
    }
    .header-actions {
        column-gap: 20px;
    }
    .header-menu-list {
        column-gap: 24px;
    }
    .banner-info {
        margin-bottom: 5px;
    }
    .banner-info::before {
        margin-right: 10px;
    }
    .motivation-card,
    .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column-reverse;
    }
    .motivation-card {
        padding-block: 30px;
    }
    .motivation-card-image {
        max-width: 60%;
    }
    .training-types-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .training-types-item {
        row-gap: 10px;
    }
    .join-us-video-play-button {
        width: 140px;
    }
    .join-us-title:not(:last-child) {
        padding-bottom: 40px;
    }
    .join-us-form-subtitle {
        font-size: 16px;
    }
    .join-us-form-body {
        flex-direction: column;
    }
    .location-body {
        padding-block: 40px;
    }
    .location-description {
        margin-bottom: 20px;
    }
}
