* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  width: auto;
  position: relative;
  left: 50px;
  top: 0px;
  background-image: url("map-of-middle-earth.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
img {
  position: absolute;
  height: 25px;
  width: 25px;
  border: none;
}

#Rohan {
  left: 500px;
  top: 500px;
}

#Harad {
  left: 615px;
  top: 905px;
}

#Isengard {
  left: 485px;
  top: 460px;
}

#Mordor {
  left: 835px;
  top: 565px;
}

#Gondor {
  left: 725px;
  top: 600px;
}

#Lorien {
  left: 585px;
  top: 350px;
}

#Angmar {
  left: 430px;
  top: 50px;
}

#Blue {
  top: 125px;
  left: 110px;
}

#Dol {
  top: 330px;
  left: 651px;
}

#Iron {
  top: 115px;
  left: 875px;
}

#Deil {
  top: 135px;
  left: 750px;
}

#Erebor {
  top: 110px;
  left: 750px;
}

#Rivendell {
  top: 200px;
  left: 535px;
}

#Lindon {
  top: 75px;
  left: 150px;
}

#Dunland {
  left: 440px;
  top: 370px;
}

#Isterlings {
  top: 450px;
  left: 1005px;
}

#Harandor {
  left: 705px;
  top: 745px;
}

#Dorvinion {
  top: 300px;
  left: 965px;
}

#Harad-near {
  left: 915px;
  top: 800px;
}

#Gundabad {
  top: 85px;
  left: 550px;
}

#Bri {
  left: 350px;
  top: 215px;
}
