@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");

.container {
  display: flex;
  height: 75vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 12.5vh;

  color: white;

  background-color: black;
}

a {
  color: aqua;
  text-decoration: none;
}

main {
  flex-grow: 7;
  order: 1;
  color: blue;
  background-color: red;
}

.aside {
  flex-grow: 1;
  color: yellow;
  background-color: green;
}

footer {
  height: 12.5vh;
  color: white;
  background-color: blueviolet;
}
