.container {
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(8, 12.5vh);
}

header {
  grid-column: 1 / span 8;
  grid-row: 1 / 1;
  background-color: black;
  color: white;
}
main {
  grid-row: 2 / span 7;
  grid-column: 2 / span 7;
  background-color: red;
  color: blue;
}
.aside {
  grid-row: 2 / span 7;
  grid-column: 1 / 1;
  background-color: green;
  color: yellow;
}
footer {
  grid-row: 8 / 8;
  grid-column: 1 / span 8;

  background-color: blueviolet;
  color: white;
}
