html,
body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --Red: red;
    --Blue: blue;
    --White: white;
    --Black: black;
    --BorderTransparentBased: 0px solid var(--Black);
    --Border: 1px solid var(--White);
}

.container {
    width: 400px;
    height: 400px;
    background-color: var(--Blue);
    border: var(--BorderTransparentBased);
}

.container-body {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    border: var(--Border);
    border-radius: 2.5px;
    background-color: var(--Black);
    width: 180px;
    height: 180px;
    margin: 5px;
    color: var(--White);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}
.card-header {
    box-sizing: border-box;
    text-align: center;

    border-bottom: var(--Border);
    padding: 10px;
    width: 100%;
}

.card-title {
    font-size: 15px;
    font-weight: 500;
}

.card-body {
    box-sizing: border-box;
    text-align: center;

    padding: 10px;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.visually-hidden > *,
.visually-hidden {
    display: contents;
    color: transparent;
    background-color: transparent;
}
