@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");

@import url("./style/main.css");
@import url("./style/reset.css");

body {
  display: flex;
  height: 100vh;
}
.main {
  flex-grow: 1;
}
.aside {
  width: 200px;
  background-color: black;
  color: white;
}

.mini {
  width: 60px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 20px;
}
